@layer fonts {
    :root {
        /* work-sans-regular - latin */
        @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        src: url('.assets/fonts/work-sans-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        }

        /* work-sans-600 - latin */
        @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        src: url('.assets/fonts/work-sans-v23-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        }

        /* work-sans-700 - latin */
        @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        src: url('.assets/fonts/work-sans-v23-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        }
    }
}

@layer colors {
    :root {
    /* Color Palette */
    --clr-white: hsl(0, 100%, 100%);
    --clr-grey100: hsl(0, 0%, 98%);
    --clr-black: hsl(0, 0%, 0%);
    --clr-purple100: hsl(275, 100%, 97%);
    --clr-purple600: hsl(292, 16%, 49%);
    --clr-purple950: hsl(292, 42%, 14%);
    --clr-purple: hsl(292, 100%, 50%);
    /* Layout colors */
    --layout-background: var(--clr-purple100);
    --layout-card-background: var(--clr-white);
    --layout-card-shadow: rgba(0, 0, 0, 0.1);
    --layout-card-anchor: var(--clr-white);
    --layout-h1-star-icon: var(--clr-purple);
    --layout-card-anchor-icon: var(--clr-purple);
    --layout-card-anchor-icon-active: var(--clr-black);
    /* Font colors */
    --font-color-h1: var(--clr-black);
    --font-color-p: var(--clr-grey100);
    --font-color-anchor: var(--clr-black);
    --font-color-anchor-hover: var(--clr-purple);
    }
}

@layer Layout {
    footer {
        font-size: 11px; 
        text-align: center;
        > a { 
            color: hsl(228, 45%, 44%); 
        }
    }
}
